body
{
    font-family: Segoe UI, Arial, Sans-Serif;
    font-size: 12px;
	overflow:scroll;  /*不允许出现滚动条*/
	overflow-x:hidden;
	overflow-y:hidden;
	background-color:#CCCCCC;
}

#creatTask
{
	border: solid 1px #102a3e;
	margin: 10px;
	border-radius: 10px;
	background-color:#999999;
		
}

p
{
	margin: 10px 100px 3px 10px;
}

#icon_preview
{
	float:right;
}

#demo_result
{
	width:200px;
	height:200px;
	margin:0px 200px;
}

#blank_area_left
{
	width:350px;
	height:22px;
	float:left;
}

#blank_area_right
{
	width:30px;
	height:22px;
}

#task_submit
{
	top:300px;
	width: 50px;
	margin:0px 15px;
}

#task_reset
{
	width: 50px;
	margin:0px 15px;
	right:30px;
}

#demo_icon
{
	width: 200px;
	height:200px;
}